body {
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#chessboard {
    width: 640px;
    height: 640px;
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: 5px solid #111;
}

.square {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 55px;

    cursor: pointer;
}

.white-square {
    background-color: #f0d9b5;
}

.black-square {
    background-color: #b58863;
    
}

.selected {
    outline: 5px solid yellow;
    outline-offset: -5px;
}

.white-piece{
    color: white;
}
.black-piece{
    color: black;
}
.possible-move {
    box-shadow: inset 0 0 0 6px limegreen;
}

#restartButton {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #222;
}

#restartButton:hover {
    background-color: #ddd;
}
.game-over {
    display: none;
    text-align: center;
    margin-top: 20px;
    padding: 25px;
    border-radius: 12px;
    background-color: white;
}

.game-over h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

#playAgainButton {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #ddd;
}

#playAgainButton:hover {
    background-color: #bbb;
}

#score {
    display: flex;
    justify-content: center;
    gap: 30px;
}